[Unit]
Description=OrbsAlarm Discord Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/silva/Projetos/discord-bot-reminder
ExecStart=/home/silva/Projetos/discord-bot-reminder/run-bot.sh
Restart=always
RestartSec=5
User=silva

[Install]
WantedBy=multi-user.target
